body{
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(129, 182, 129);
  width: 500px;
  border-radius: 16px;
  color: rgb(129, 182, 129);
  padding: 10px;
}

.head{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

input{
  padding: 10px;
  border: 2px solid rgb(129, 182, 129);
  border-radius: 50px;
  background-color: whitesmoke;
}

input:hover{
  background-color: rgb(238, 235, 235);
}

input:focus{
  border: 0px;
  background-color: white;
}